@media screen and (min-width:900px){
 
    #menu{
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: #000;
    font-size: 2em;
  }

  .navigation li{
    display: block;
    flex: 1 1 100%;
  }


    .content1 .main-title {
        font-family: fontello; 
         font-weight: 600;
         font-size: 1rem;
         text-align: center;
       }


    main {
    display: grid; 
    grid-template-areas:
    "event    content3    content4"
    "content5 content3    content4"
    "content7 new-release content4";
    }

    .showcase3 {
        grid-area: content3;
        background: url(../images/parque-nacional-el-chico.jpeg) center center;
        height: 800px;
        background-size: cover;
        background-position: center;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        box-shadow: var(--shadow); 
        overflow: hidden;
        
    }
    


    .showcase3 h1 {
        font-size: 2.8rem;
        margin-bottom: 0;
        color: white;
        background-color: limegreen;
        text-shadow: 2px 2px #474242
        
        
    }


    .showcase-events {
        grid-area: event;
        min-height: auto;
        background: url(../images/pasty.jpg);
        background-size: cover;
        background-position: center;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        box-shadow: var(--shadow); 
        z-index:10 ;
    }
    /***** discovery page *****/

    .columna-anuncios{
      grid-area: columna-anuncios;
    }

    .columna-anuncios{
      display: flex;
      flex-direction: column;
    }

    .columna-pics{
      grid-area: columna-pics;
    }

    .columna-pics{
      display: flex;
      flex-direction: column;
    }
    
    .columna-anuncios, .columna-pics{
      row-gap: 10px;
    }
.wrapper{
  display: grid;
  grid-template-columns: 350px 15% 550px;
  grid-template-rows: auto;
  grid-template-areas: 
  "columna-anuncios . columna-pics";
}
    /****** end discover page *********/

    #join-chamber .sub-title{
      
    
      font-size: 1.5rem;
    }
    

    /* ******* Data Form ***********/


     .aplicant-information{
        grid-area: aplicant-information;

      }
      .business-information{
        grid-area: business-information;
      }
      .membership-level{
        grid-area: membership-level;
      }

      .business-description{
        grid-area: business-description;
      }

      .btn{
        grid-area: btn;
      }

    form {
        display: grid;
        background-color: #f2e2b5;
        grid-template-columns: 5% 1fr 10% 1fr 5%;
        grid-template-rows: 10px 400px 10px 300px 10px 60px;
        grid-template-areas:
        ". aplicant-information . membership-level"
        ". . . ."
        ". business-information . business-description"
        ". . . ."
        ". btn . .";
      }


    #join-chamber {
      padding: 0 2%;
      min-height: 20rem;
  
  }
  
  form fieldset{
      margin: 2rem 0;
      border: 1px solid #445ba9;
      border-radius: 10px;
      padding: .5rem 2%;
  }
  
  form legend{
      color: #445ba9;
      margin: 0 .5rem;
  }
 /* 
  form label .top, form div{
      display: block;
      padding-top: 1rem;
      color: #9c2c13;
      font-size: .8rem;
  }
  */
  form label.top input, form label.top select{
      -webkit-appearance: none;
      display: block;
      font-size: 1rem;
      border: solid 1px #999;
      border-radius: 4px;
      padding: .75rem;
      color: #555;
      width: 100%;
      max-width: 20rem;
      background-color: rgba(0,0,0,0.1);
  }
  
  form label.sbs{
      display: block;
      padding: .75rem 0;
      color: #555;
     
  }
  
  form input.submitBtn{
      border: none;
      background-color: #9c2c13;
      color: white;
      border-radius: 1rem;
      padding: .75rem 1.5rem;
      margin: 0 0 2rem 2%;
      width: 96%;
      max-width: 20rem;
  
  }
  
  form label.top input:required{
      border-left: red solid 6px;
  }
  
  form label.top input:required:valid{
      border-left: green solid 6px;
  
  }

  
  /******* discovery page *********/
 
  .discovery{
    position: relative;
  }

  .columna-anuncios{
  grid-column: 1;
 
 
}

.columna-pics{
  grid-column: 4;

}

.main .discovery{
  display: grid;
  grid-template-columns: 10% 30% 10% 50%;
 
  

  }

 .columna-anuncios .event .content4-a{
    grid-area: content4-a;
    grid-row: 1;
    grid-column: 1;
  }

  .columna-anuncios .left-side .content4-b{
    grid-area: content4-b;
    grid-row: 2;
    grid-column: 1;
  }
  .columna-anuncios .left-side .content4-c{
    grid-area: content4-c;
    grid-column: 1;
    grid-row: 3;
  }


.left-side{
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 300px;
  grid-template-areas: 
  "content4-a"
  "content4-b"
  "content4-c";
}

.right-side{
  grid-column: 2;
  display: flex;
  flex-direction: column;
} 

/***** join form ****/
.main-contact{
  max-width: 64rem;
  margin: auto;
  background-color: none;


}

.contact-form{
  display: flex;
  flex-direction: column;
}
.contact-form label{
  text-align: left;
}
.contact-form input .submitBtn{
  margin-left: 20%;
  margin-right: 20%;
}
}